@model FineArt.Models.Data.ExhibitionPosting
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card mx-auto">
                    <div class="card-body ">
@{
    ViewData["Title"] = "Editposting";
}

<h1>Editposting</h1>

<h4>ExhibitionPosting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editposting" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExPID" />
            <div class="form-group">
                <label asp-for="PaintingTitle" class="control-label"></label>
                <input asp-for="PaintingTitle" class="form-control" />
                <span asp-validation-for="PaintingTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSold" class="control-label"></label>
                <input asp-for="IsSold" class="form-control" />
                <span asp-validation-for="IsSold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPaidToStudent" class="control-label"></label>
                <input asp-for="IsPaidToStudent" class="form-control" />
                <span asp-validation-for="IsPaidToStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPIMG" class="control-label"></label>
                <input asp-for="EPFILE" class="form-control" />
                <span asp-validation-for="EPFILE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewPosting">Back to List</a>
</div>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

