<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card mx-auto">
                    <div class="card-body ">
<h1>@{
        ViewData["Disqulified"] = "You are Disqualified";
    }
        </h1>
<h1 class="text-center text-danger">You are Disqulified</h1>
                        <a class="btn btn-Dark"asp-controller="Web" asp-action="Index">Back to Home</a>

</div>
</div>
</div>
</div>
</div>
</div>